@import "tailwindcss";
@import "@fontsource/roboto-slab/400.css";
@import "@fontsource/roboto-slab/700.css";

@theme {
  --font-sans: "Roboto Slab", ui-serif, Georgia, serif;
}

html,
body,
#root {
  background: #000;
  margin: 0;
  color: white;
  font-family: "Roboto Slab", serif;
}